# Matrix configuration
MATRIX_HOMESERVER=https://matrix.org
MATRIX_ADMIN=@user:matrix.org,@user2:matrix.org
MATRIX_BOT_NAME=matrixdeltabot
MATRIX_USER=@botuser:matrix.org
MATRIX_PASSWORD=password

# Delta Chat configuration
DELTACHAT_ADMIN=1234567@nine.testrun.org,7654321@nine.testrun.org
DELTACHAT_BOT_NAME=matrixdeltabot

# Logging
RUST_LOG=warn,bridge_matrix_deltachat=warn
